/* body {
    background-color: gray;
} */

.m-lr-20 {
    margin: 0 20px;
}

.no-padding {
    padding: 0;
}

.container {
    background-color: white;
}

.form-group .error {
    margin-top: 10px;
}

.js-comparisons-table .dropdown-menu {
    min-width: auto;
}